<div class="h-20 p-4 bg-zinc-300 mb-4">
  <h1 class="text-4xl underline">TPK Examples</h1>
</div>

<div class="mx-4">
  <p class="mb-4">
    This is a demonstration of TPK-packages and a kind of cheat sheet how to use it.
  </p>
  <ul class="list-disc ml-8">
    <li>
      <.link href={~p"/examples"}>Example page</.link>
    </li>
  </ul>
</div>
